[submodule "libs/fvtt-lib-wrapper-types"]
	path = libs/fvtt-lib-wrapper-types
	url = https://github.com/sylvercode/fvtt-lib-wrapper-types
[submodule "libs/fvtt-hook-attacher"]
	path = libs/fvtt-hook-attacher
	url = https://github.com/sylvercode/fvtt-hook-attacher.git
