<div class="form-group">
    <label>Limited Attenuation ratio</label>
    <div class="form-fields">
        <checkbox name="flags.sylvercode-enhance-limited-wall.enableAttenuation" {{checked
            flags.sylvercode-enhance-limited-wall.enableAttenuation}} />
        <input type="number" name="flags.sylvercode-enhance-limited-wall.attenuationRatio" min="0" max="1" step="0.1"
            value="{{flags.sylvercode-enhance-limited-wall.attenuationRatio}}" />
    </div>
</div>
